<!DOCTYPE HTML>
<html lang="en">
   
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Limelight|Flamenco|Federo|Yesteryear|Josefin Sans|Spinnaker|Sansita One|Handlee|Droid Sans|Oswald:400,300,700"
    media="screen" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css"
    />
    <link href="{{ STATIC_URL }}css/address_ask.css" media="screen" rel="stylesheet" type="text/css" />
    <title>Address</title>
  </head>
   
  <body style="background-color: #dbe6ff;">
    <div id="page-wrapper">
      <h1 class="dom-heading">Please Type your address below to see the "store-name" branches near you.</h1>
      <div>
        <input class="textinput input.textinput-1" type="text" placeholder="Address">
        <input class="textinput input.textinput-2" type="text" placeholder="(optional Address)">
        <input class="textinput input.textinput-1" type="text" placeholder="City">
        <input class="textinput input.textinput-1" type="text" placeholder="Zip Code">
        <button class="btn btn-1">Find open stores near you
          <br>
        </button>
      </div>
    </div>
  </body>
 
</html>