<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Limelight|Flamenco|Federo|Yesteryear|Josefin Sans|Spinnaker|Sansita One|Handlee|Droid Sans|Oswald:400,300,700" media="screen" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/index.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/bootstrap.css" />
        <title>Welcome to Store Hours</title>
    </head>
     
  <body>
    <div id="page-wrapper">
      <div class="page-header">
        <h1>Welcome to Store Hours
          <br>
        </h1>
      </div>
      <h1 class="dom-heading dom-heading-1">Store hours tells you the hours of operation for the stores you're interested in.
        You can also find any stores open near you. Currently, we're geographically limited
        to Berkeley, CA.&nbsp;</h1>
      <div class="div-1">
        <input class="textinput input.textinput-1" type="text" placeholder="Address">
        <input class="textinput input.textinput-2" type="text" placeholder="(optional Address)">
        <button class="btn btn-1">Find open stores near you
          <br>
        </button>
      </div>
      <div class="div-2">
        <input class="textinput input.textinput-1" type="text" placeholder="Address">
        <input class="textinput input.textinput-2" type="text" placeholder="(optional Address)">
        <select>
          <option value="Bank of America">Bank of America</option>
          <option value="Chase">Chase</option>
          <option value="Wells Fargo">Wells Fargo</option>
          <option value="Safeway">Safeway</option>
          <option value="Whole Foods">Whole Foods</option>
          <option value="Andronicos">Andronicos</option>
        </select>
        <button class="btn btn-2">Find
          <br>
        </button>
      </div>
      <h2 class="dom-heading dom-heading-2">OR</h2>
      <h2 class="dom-heading dom-heading-3">Stores:</h2>
    </div>
  </body>

</html