<!DOCTYPE HTML>
<html lang="en">
   
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Limelight|Flamenco|Federo|Yesteryear|Josefin Sans|Spinnaker|Sansita One|Handlee|Droid Sans|Oswald:400,300,700"
    media="screen" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css"
    />
    <link href="{{STATIC_URL}}css/specific_store_display.css" media="screen" rel="stylesheet" type="text/css" />
    
    <title>Store hours for selected stores</title>
  </head>
   
  <body style="background-color: #dbe6ff;">
    <div id="page-wrapper">
      
      <h2 class="dom-heading dom-heading-2">Following is the hours of "Store Branch" you selected.<br>
        <div>It's <span style="color:green">OPEN</span> right now!
          <br>
          <div>
            <br>
          </div>
        </div>
      </h2>
      <table class="table table-striped table-condensed table-bordered">
        <thead>
          <tr>
            <th class="th-1">Day</th>
            <th>Hours&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="td-1">Monday&nbsp;</td>
            <td class="td-1">9am - 5pm</td>
          </tr>
          <tr>
            <td class="td-1">Tuesday</td>
            <td class="td-1">9am - 5pm</td>
          </tr>
          <tr>
            <td class="td-1">Wednesday</td>
            <td class="td-1">9am - 5pm</td>
          </tr>
          <tr>
            <td class="td-1">Thursday</td>
            <td class="td-1">9am - 5pm</td>
          </tr>
          <tr>
            <td class="td-1">Friday</td>
            <td class="td-1">9am - 5pm</td>
          </tr>
          <tr>
            <td class="td-1">Saturday</td>
            <td class="td-1">9am - 1pm
              <br>
            </td>
          </tr>
          <tr>
            <td class="td-1">Sunday
              <br>
            </td>
            <td class="td-2">CLOSED</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
 
</html>