/* CSS Document */
html {
  background-color: #dbe6ff;
}
h1 {  
  border-bottom: 1px solid #ffffff;
  width: 700px;
  height: 74px;
  text-align: center;
  color: #a81015;
}


#page-wrapper {
  background-color: #dbe6ff;
  position: relative;
  width: 980px;
  /* centers the document */
  margin: 0 auto;
  /*
  hides anything drawn off canvas.
  remove overflow and height to see things drawn off canvas.
  */
  overflow: hidden;
  height: 1000px;
}
/* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 body>p, body>h1, body>h2, body>h3, body>h4, body>h5, body>h6 {
  margin-top: 0 !important;
}
/* Set floating dom-heading margins to 0 */
[class*="dom-heading"] {
  margin: 0;
}
.dom-heading.dom-heading-1 {
  font-family:"josefin sans";
  font-size: 18px;
  line-height: 31px;
  border-bottom: 1px solid #ffffff;
  width: 700px;
  height: 133px;
  position: absolute;
  top: 265px;
  left: 158px;
}
.dom-heading.dom-heading-2 {
  font-family:"sansita one";
  font-size: 26px;
  line-height: 31px;
  width: 42px;
  height: 34px;
  position: absolute;
  top: 496px;
  left: 503px;
}
.dom-heading.dom-heading-3 {
  font-family:"Arial";
  font-size: 15px;
  line-height: 31px;
  width: 52px;
  height: 31px;
  position: absolute;
  top: 538px;
  left: 152px;
}
div .btn.btn-1 {
  text-align: left;
  font-family:"helvetica neue";
  font-size: 14px;
  background: #e69c3d;
  color: #fff5fc;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.74902);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.0470588), inset 0px 2px 4px 0px rgba(0, 0, 0, 0.14902);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.0470588), inset 0px 2px 4px 0px rgba(0, 0, 0, 0.14902);
  -o-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.0470588), inset 0px 2px 4px 0px rgba(0, 0, 0, 0.14902);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.0470588), inset 0px 2px 4px 0px rgba(0, 0, 0, 0.14902);
  width: 192px;
  height: 30px;
}
div .btn.btn-2 {
  background: #e69c3d;
  font-family:"helvetica neue";
  font-size: 14px;
  color: #f7efe8;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.74902);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.0470588), inset 0px 2px 4px 0px rgba(0, 0, 0, 0.14902);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.0470588), inset 0px 2px 4px 0px rgba(0, 0, 0, 0.14902);
  -o-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.0470588), inset 0px 2px 4px 0px rgba(0, 0, 0, 0.14902);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.0470588), inset 0px 2px 4px 0px rgba(0, 0, 0, 0.14902);
  width: 53px;
}
div input.textinput.input.textinput-1 {
  width: 178px;
}
div input.textinput.input.textinput-2 {
  border: none;
  width: 180px;
}
div.div-1 {
  width: 213px;
  height: 113px;
  position: absolute;
  top: 457px;
  left: 631px;
}
div.div-2 {
  width: 196px;
  height: 116px;
  position: absolute;
  top: 457px;
  left: 220px;
}
.page-header {
  width: 700px;
  height: 74px;
  position: absolute;
  top: 145px;
  left: 157px;
}
.page-header h1 {
  text-align: center;
  color: #a81015;
}

div select {
  margin: 0px;
  width: 138px;
}