/* CSS Document */
body {
  background-color:#dbe6ff;
  width: 100%;

}
#page-wrapper {
  background-color: #dbe6ff;
  position: relative;
  width: 980px;
  /* centers the document */
  margin: 0 auto;
  /*
  hides anything drawn off canvas.
  remove overflow and height to see things drawn off canvas.
  */
  overflow: hidden;
  height: 1000px;
}
/* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 body>p, body>h1, body>h2, body>h3, body>h4, body>h5, body>h6 {
  margin-top: 0 !important;
}
/* Set floating dom-heading margins to 0 */
[class*="dom-heading"] {
  margin: 0;
}
.table tbody tr td.td-1 {
  
  font-family:"arial";
  font-size: 15px;
}
.table tbody tr td.td-2 {
  background-color: #dbe6ff;
  font-family:"arial";
  font-size: 15px;
  color: #000000;
}
.table thead tr th.th-1 {
  background-color: #dbe6ff;
  font-family:"arial";
  font-size: 20px;
}
.dom-heading {
  background-color: #dbe6ff;
  color: #3b3b3b;
  font-family:"josefin sans";
  font-size: 18px;
  line-height: 31px;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #ffffff;
  border-left: none;
  text-align: center;
  width: 421px;
  height: 38px;
  position: absolute;
  top: 95px;
  left: 255px;
}
.table {
  background-color: #dbe6ff;
  width: 439px;
  position: absolute;
  top: 192px;
  left: 251px;
}