<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8" />
        
        <meta name="viewport" content="width=device-width, initial-
        scale=1, maximum-scale=1">
        
        <link href="https://fonts.googleapis.com/css?family=Limelight|Flamenco|Federo|Yesteryear|Josefin Sans|Spinnaker|Sansita One|Handlee|Droid Sans|Oswald:400,300,700" media="screen" rel="stylesheet" type="text/css" />
        
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" />

        <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/index.css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

        
        <title>Welcome to Store Hours</title>
    
    </head>
     
  <body style ="background-color: #dbe6ff;">
    <div id="page-wrapper">
      <div class="page-header">
        <h1>Welcome to Store Hours
          <br>
        </h1>
      </div>
      <h1 class="dom-heading dom-heading-1">Store hours tells you the hours of operation for the stores you're interested in.
        You can also find any stores open near you. Currently, we're geographically limited
        to Berkeley, CA.&nbsp;</h1>
      <div class="div-1">
         <div>
          <form id="specific_store" action="/stores_branches/" method="post"> 
            {% csrf_token %}
            <input class="textinput input.textinput-1" type="text" placeholder="Address" id="address1" name="address1">
            <input class="textinput input.textinput-2" type="text" placeholder="(optional Address)" id="address2" name="address2">
            <input class="textinput input.textinput-1" type="text" placeholder="City" id="city" name="city">
            <input class="textinput input.textinput-1" type="text" placeholder="Zip Code" id="zip_code" name="zip_code">
            <input class="btn btn-1" id="Find" value="Find open stores near you" type="submit">
            <br>
           
          </form>
        </div>
      </div>
      <div class="div-2">
        <div>
          <form id="stores_branches" action="/specific_store_display/"method="post">
            {% csrf_token %}
              <input class="textinput input.textinput-1" type="text" placeholder="Address" id="address1" name="address1">
              <input class="textinput input.textinput-2" type="text" placeholder="(optional Address)" id="address2" name="address2">
              <input class="textinput input.textinput-1" type="text" placeholder="City" id="city" name="city">
              <input class="textinput input.textinput-1" type="text" placeholder="Zip Code" id="zip_code" name="zip_code">
            <select name="store_branch">
              <optgroup label="Banks">
                <option value="Bank of America">Bank of America</option>
                <option value="Chase Bank">Chase Bank</option>
                <option value="Wells Fargo Bank">Wells Fargo Bank</option>
              </optgroup>
              <optgroup label="Grocery Stores">
                <option value="Safeway">Safeway</option>
                <option value="Whole Foods">Whole Foods</option>
                <option value="Andronicos">Andronicos</option>
              </optgroup>
            </select>
            <input class="btn btn-2" id="Find" value="Find" type="submit">
            <br>
          </form>
        </div>
      </div>
      <h2 class="dom-heading dom-heading-2">OR</h2>
      <h2 class="dom-heading dom-heading-3">Stores:</h2>
    </div>
  </body>

</html