<!DOCTYPE HTML>
<html lang="en">
   
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Limelight|Flamenco|Federo|Yesteryear|Josefin Sans|Spinnaker|Sansita One|Handlee|Droid Sans|Oswald:400,300,700"
    media="screen" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css"
    />
    <link href="{{ STATIC_URL }}css/stores_branches.css" media="screen" rel="stylesheet" type="text/css" />
    <title>Stores Near You</title>
  </head>
   
  <body style="background-color: #dbe6ff;">
    <div id="page-wrapper">
      <h2 class="dom-heading">
        <div>Here's the list of stores near you.
          <br>
          <div>
            <br>
          </div>
        </div>
      </h2>
      <table class="table table-striped table-condensed table-bordered">
        <thead>
          <tr>
            <th class="th-1">Address</th>
            <th>Phone Number</th>
            <th>Click for Hours</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="td-1">2129 Shattuck Avenue
              <br>Berkeley CA
              <br>
            </td>
            <td class="td-1">(510) 273-5466
              <br>
            </td>
            <td> <a class="dom-link" href="#">Hours</a>
              <br>
            </td>
          </tr>
          <tr>
            <td class="td-1">2546 San Pablo Avenue Berkeley
              <br>
            </td>
            <td class="td-1">(800) 432-1000</td>
            <td> <a class="dom-link" href="#">Hours</a>
            </td>
          </tr>
          <tr>
            <td class="td-1">2347 Telegraph Avenue Berkeley
              <br>
            </td>
            <td class="td-1">(510) 273-5443</td>
            <td> <a class="dom-link" href="#">Hours</a>
              <br>
            </td>
          </tr>
          <tr>
            <td class="td-1">1516 Solano Avenue Albany
              <br>Berkeley
              <br>
            </td>
            <td class="td-1">(800) 432-1000</td>
            <td> <a class="dom-link" href="#">Hours</a>
            </td>
          </tr>
          <tr>
            <td class="td-1">1536 Shattuck Avenue
              <br>Berkeley
              <br>
            </td>
            <td class="td-1">(510) 649-6243</td>
            <td> <a class="dom-link" href="#">Hours</a>
            </td>
          </tr>
          <tr>
            <td class="td-1">1536 Shattuck Avenue
              <br>Berkeley
              <br>
            </td>
            <td class="td-1">(800) 432-1000
              <br>
            </td>
            <td> <a class="dom-link" href="#">Hours</a>
            </td>
          </tr>
          <tr>
            <td class="td-1">6201 College Avenue
              <br>Oakland
              <br>
            </td>
            <td class="td-2">
              <span>(800) 432-1000</span>
            </td>
            <td> <a class="dom-link" href="#">Hours</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
 
</html>